.header{
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 0 0 1 0;
}

.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.table-cell:focused{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.combo-box, .combo-box:focused{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.table-cell {
    -fx-alignment: CENTER_LEFT;
}

.table-cell.price, .table-cell.quantity {
    -fx-alignment: CENTER-RIGHT;
}